# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/0d052bce-e2ac-425c-b7df-ec445695e58e.vsidx
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/8cd1d10c-ea54-4445-8d6b-0c09947ddfdd.vsidx
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/aef26b68-94b9-4985-a937-9156cae88714.vsidx
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/eec9594d-12a7-4bfb-99e6-b894de0d88a7.vsidx
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/1ee17334-c52f-4c1f-a351-e77d8b624c2a.vsidx
Backend/PSDC-Portal/PSDC-Portal/bin/Debug/net8.0/PSDC-Portal.dll
Backend/PSDC-Portal/PSDC-Portal/obj/Debug/net8.0/PSDC-Portal.csproj.AssemblyReference.cache
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/4c49dc83-d274-4469-a2c2-8300fa47cec5.vsidx
Backend/PSDC-Portal/.vs/PSDC-Portal/FileContentIndex/eacd1e5a-fdfa-4d34-97a9-6450a780df4e.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/25ff9ccb-8a52-4708-8d7b-5076904780ad.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/33ba6b67-a6a5-4e5d-888e-f1b14169e46c.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/b37acbcd-768b-4da3-8bc3-60ff1e01e8dc.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/bc1c803c-dd22-4755-b88f-4a22f536248a.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/e6ada940-ced5-4169-95b6-69cf44d49886.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/6bcecafb-b50e-47c4-8fa8-90af41d05592.vsidx
Backend/Pawan-Portal-PSDC/.vs/Pawan-Portal-PSDC/FileContentIndex/ce168b3e-aa2f-4b0d-a12c-8d8d4f086e61.vsidx
