<div class="container mt-5">
    <div class="card" *ngIf="!reviewable">
        <div class="card-header">
            <h1 class="card-title">Network Access Request Approval</h1>
            
        </div>
        <ul>Network ID: {{networkId}}</ul>
        <div class="card-body">
            <p>Do you want to approve this request?</p>

            <div class="row mb-3">
                <div class="col-md-6 d-flex align-items-center">
                    <label for="userName" class="form-label me-2" style="width: 100px;">User Name:</label>
                    <input id="userName" type="text" class="form-control" [(ngModel)]="userName" readonly
                        style="width: calc(100% - 110px);" />
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <label for="userEmail" class="form-label me-2" style="width: 100px;">User Email:</label>
                    <input id="userEmail" type="email" class="form-control" [(ngModel)]="userEmail" readonly
                        style="width: calc(100% - 110px);" />
                </div>
            </div>


            <div class="remarks d-flex align-items-center mb-3">
                <label for="remarks" class="form-label me-3">Remarks:</label>
                <input id="remarks" type="text" class="form-control" [(ngModel)]="remarks" readonly />
            </div>
            <div class="comment d-flex align-items-center">
                <label for="comment" class="form-label me-3">Comment:</label>
                <input id="comment" type="text" class="form-control" [(ngModel)]="comment"  />
            </div>

            <div class="actions mt-5">
                <button class="btn btn-success me-2" (click)="approveRequest()">Approve</button>
                <button class="btn btn-danger" (click)="rejectRequest()">Reject</button>
            </div>
        </div>
    </div>
    <div *ngIf="reviewable">Request Already Entertained</div>
</div>